{% extends 'core/base.html' %}

{% load static %}

{% block title %}404{% endblock %}


{% block secondary_content %}
<!--Seccion Consolas y accesorios-->
<section>
<div class="container text-center text-black-50 py-5 mt-4 mb-4">
    <h1 class="lines-effect">PROXIMAMENTE TENDREMOS RESERVAS</h1>
    <div class="container mt-4 mb-4">
              <div class="col">
                    <img src="{% static 'core/img/404.png' %}" class="rounded float-right" alt="404">
                </a>
              </div>
            </div>
          </div>    
</div>
</section>
{% endblock %}