{% extends 'core/base.html' %}

{% load static %}

{% block title %}Nintendo{% endblock %}

{% block primary_content %}
<div class="container bg-dark text-center text-white py-5 mt-4">
    <h1>Nintendo</h1>
</div>
{% endblock %}

{% block secondary_content %}
<div class="container mt-4 mb-4">
    <div class="row row-cols-1 row-cols-md-4 g-5">
        {% for p in productos %}
        <div class="col">
            <div class="card">
                {% if p.imagen %}
                    <img class="card-img-top" src="{{p.imagen.url}}" alt="{{p.idProducto}}">
                {% else %}
                    <img class="card-img-top" src="{% static 'crud/img/image-not-found.png' %}" alt="Sin Imagen">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{p.descripcion}}</h5>
                    <h6 class="card-text" style="color: red;">Precio: ${{p.precio}}</h6>
                    <h6 class="card-text">Unidades en stock: {{p.stock}}</h6>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="">
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}